body{
    background-color: brown;
}
.logo{
    border: 1px solid rgb(214, 111, 111);
    background-color: rgb(221, 213, 201);
}
#titulo_logo{
    padding-left: 40px;   
}

.menu_navegacion {
display: block;
  font-size: 19px;
  text-align: right;
  padding-right: 30px;
  padding-bottom: 10px;
}
.menu_navegacion li{
    display: inline-block;
}